parameters:
    level: 6
    paths:
        - src

    reportUnmatchedIgnoredErrors: true
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    treatPhpDocTypesAsCertain: false

    ignoreErrors:
     - "#Unsafe usage of new static\\(\\)#"
